@{
  Layout = "_Layout";
}

<h1>Register</h1>
<form class="studentForm" action="/students/create" method="post">
  <label for="studentName">Name: </label>
  <input type="text" id="studentName" name="studentName">
  <label for="studentEnrollDate">Date: </label>
  <input type="date" id="studentEnrollDate" name="studentEnrollDate">
  <form action="/courses/@Model["course"].GetId()/student/new" method='post'>
  <label for='courseId'>Select a item</label>
  <select id='courseId' name='courseId' type='text'>
    @foreach (var course in @Model["allCourses"])
    {
      <option value='@course.GetId()'>@course.GetName()</option>
    }
  </select>
  <button type="submit" class="btn-primary">Register</button>
</form>
