@{
  Layout = "_Layout";
}

<h1>For real? For real for real??</h1>

<p>Are you sure you want to delete these students?</p>
<form action="/students/delete"  method="post">
  <button type="submit" name="deleteAll" class="btn-primary">Expell them.</button>
</form>

<p><a href="/">Home Page</a></p>
