@{
  Layout = "_Layout";
}
<h1>Are you sure you'd like to kill people's curiosity?</h1>

<p>If you're sure press "confirm"</p>

<form action="/courses/delete"  method="post">
  <button type="submit" name="deleteAll" class="btn-primary">confirm</button>
</form>

<p><a href="/">Home Page</a></p>
