<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Ivan's Awesome University</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <center>
      <h1>Ivan's Awesome University</h1>
        @RenderBody()
      <center>
    </div>
  </body>
</html>
